@font-face {
  font-family: "Organic_Elements";
  src: url(../fonts/Organic_Elements.TTF) format("truetype");
}
@font-face {
  font-family: "someday.tff";
  src: url(../fonts/someday.ttf) format("truetype");
}
* {
  margin: 0px;
  padding: 0px;
  font-family: Montserrat;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  padding: 0;
  margin: 0;
  background-color: #ffcfe9;
  text-align: center;
  color: #f7f5f6;
}
.header {
  margin: 10px auto;
  max-width: 100%;
  height: 35vw;
  background-image: url(/images/bgdHeader.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-attachment: scroll;
  background-size: 100% 100%;

  /* padding-top: 1vw; */
}

/* -------------NAVBAR INICIO--------------- */

.container-nav {
  padding: 0.5vw;
  height: 3vw;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #be5d93;
  z-index: 1000;
}
.logo {
  margin-left: 30%;
  width: 4vw;
  float: left;
}
.nav-bar {
  width: 25%;
  margin: 0.3vw auto;
  align-content: center;
}

ul {
  width: max-content;
  list-style: none;
  margin: 0px auto;
  padding: 0;
  overflow: hidden;
}
li {
  margin: 0px auto;
  padding: 0px;
  height: 30px;
  float: left;
  text-align: center;
  font-size: 1vw;
}
.nav-bar a {
  text-decoration: none;
  color: #f7f5f6;
  text-align: center;
  padding: 1vw 1vw;
  text-transform: uppercase;
  font-weight: 500;
}
.nav-bar a:hover {
  color: #ff82c7;
}
.nav-bar .drop-down {
  display: none;
}

@media screen and (max-width: 800px) {
    ul > li {
      width: 100%;
    
    }
  .container-nav {
    display: block;
    margin: 0;
    padding: 0.5em;
    height: 12em;
    width: 100%;
    position: relative;
    top: 0;
    background-color: #be5d93;
    z-index: 1000;
  }
  .logo {
    margin: 0;
    width: 5em;
    float: none;
  }
  .nav-bar {
    display: block;
  }
}

/* -------------NAVBAR FIM--------------- */

/* -------------LOGO GRANDE--------------- */
.wrapper {
  /* margin-top: 2vh;   */
}
.logoGrande {
  align-self: center;
  justify-self: center;
  align-content: center;
}
h1 {
  padding: 0.5vw;
  font-family: "someday";
  font-size: 7.6vw;
  font-weight: normal;
}
h3 {
  font-family: "Organic_Elements";
  font-size: 4vw;
  font-weight: normal;
}
p.slogan {
  max-width: 480px;
  margin: 30px auto;
  font-size: 1.4rem;
}
.icon {
  position: relative;
  width: 4.5%;
  margin-top: 0vw;
  margin-left: 0vw;
  padding: 0;
}

/* responsividade da logo e botões */
@media screen and (max-width: 1400px) {
  p.slogan {
    font-size: 1rem;
  }
}
@media screen and (max-width: 800px) {
  h1,
  h3 {
    padding: 0;
  }
  p.slogan {
    max-width: 400px;
    margin: 0px auto;
    font-size: 2vw;
  }
}

/* -------------LOGO GRANDE FIM--------------- */

/* -------------PRODUTOS GRID INICIO--------------- */

.grid-container {
  padding: 1vw;
  margin: 0 5.2vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
}

.titulo {
  padding-bottom: 1vw;
  font-size: 1vw;
}

.forminhasDePapel {
  background-color: #be5d93;
  padding: 0.3vw 1vw 1vw 1vw;
  box-shadow: 4px 2px 10px rgb(49, 49, 49);
}

.forminhasDeTecido {
  background-color: #be5d93;
}

.encadernacao {
  background-color: #be5d93;
}

.fotos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 1vw;
}

.img1 {
  width: 100%;
}

.preco {
  background-color: #ffcfe9;
  width: 100%;
  color: black;
  padding: 2% 2% 2% 2%;
  font-size: 1vw;
}

.img1 .preco {
  align-self: center;
  justify-self: center;
}

/* -------------PRODUTOS GRID FIM--------------- */

/* -------------DEPOIMNETOS INICIO--------------- */

.depoimentos-wrapper {
  max-width: 100%;
}
h4 {
  font-size: 2vw;
  color: #be5d93;
}

.subDep {
  color: #ff82c7;
  font-size: 1vw;
}

.imgDep {
  width: 100%;
}

/* -------------DEPOIMNETOS FIM--------------- */

/* -------------FOOTER INICIO--------------- */

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  padding-top: 30px;
  background-image: url(/images/SVG/Grupo\ 303@2x.png);
  max-width: 100%;
  background-repeat: no-repeat;
  background-position-x: center;
}

.footerGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto 5.3vw;
  padding: 1vw;
}

.sobreNos,
.redesSociais {
  align-self: auto;
  justify-self: center;
  text-align: left;
}
.sobreNos p {
  font-size: 1vw;
  line-height: 1.7;
}

.sobreNos h5 {
  font-size: 1.1vw;
  font-weight: bold;
  line-height: 1.9;
}

.footer img {
  width: 100%;
  height: auto;
}

.imgSociais img {
  width: 5vw;
  height: 5vw;
}

/* -------------FOOTER FIM--------------- */

/* -------------QUEM SOMOS INICIO--------------- */
.quemSomos {
  padding: 3vw;
}
.quemSomos p {
  display: grid;
  font-size: 1.3vw;
  max-width: 50%;
  margin: 0 auto;
}

.equipe {
  margin: 1vh auto;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  column-gap: 10px;
  width: 80%;
}
.equipe img {
  width: 80%;
}

.descricao {
  justify-self: center;
  align-self: center;
  justify-items: center;
  align-content: center;
}

@media screen and (max-width: 700px) {
  .equipe {
    margin: 1vh auto;
    display: grid;
    grid-template-columns: 100%;
    row-gap: 2vh;
    width: 80%;
  }
  h4 {
    font-size: 4vw;
  }
}

/* -------------QUEM SOMOS FIM--------------- */
